/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/static/images/search.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Text color set to white */
}

/* Container Styling */
.container {
    max-width: 900px;
    margin: 20px;
    padding: 40px;
    border-radius: 15px;
    background-color: transparent; /* Transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center; /* Center the content */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #007bff; /* Blue heading */
}

.options {
    display: grid; /* Change display to grid */
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 20px; /* Space between grid items */
}

.option {
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.7); /* Transparent gray background */
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-bottom: 20px; /* Add margin-bottom to create space between rows */
}

.option:hover {
    background-color: rgba(100, 100, 100, 0.7); /* Darker transparent gray on hover */
    transform: translateY(-5px);
}

.option h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.option p {
    font-size: 1.2rem;
}

/* Logout Styling */
.logout {
    margin-top: 40px;
}

.logout-button {
    padding: 12px 24px;
    border-radius: 10px;
    background-color: #dc3545; /* Red color */
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c82333;
}
