<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corporate Data Hub</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div class="container">
        <h1>Corporate Data Hub</h1>
        <div class="options">
            <a href="/search" class="option">
                <h2>Search Companies</h2>
                <p>Search records by designation or company name</p>
            </a>
            <a href="/highest" class="option">
                <h2>Get Highest</h2>
                <p>Get highest salaries/ratings/salaries reported for each designation</p>
            </a>
        </div>
        <div class="options">
            <a href="/add-update" class="option">
                <h2>Add/Update Records</h2>
                <p>Add or update records in the database</p>
            </a>
            <a href="/statistics" class="option">
                <h2>Show Statistics</h2>
                <p>Show statistics of the databases</p>
            </a>
        </div>
    </div>
</body>
</html>
