<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <title>Corporate Data Hub</title>
</head>
<body body id="loginPage">
    <a href="/"> <h1>Corporate Data Hub</h1> </a>
    <div class="main fade-in">
        <p class="sign" align="center">Login</p>
        <form method="post">
            <input class="un " type="text" align="center" placeholder="Username" name="username" required>
            <input class="pass" type="password" align="center" placeholder="Password" name="password" required>
            <button class="submit" type="submit" align="center">Login</button>
            <p class="forgot" align="center"><a href="/signup">New Member? Signup Here</a></p>
        </form>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
