<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highest Records</title>
    <link rel="stylesheet" href="/static/css/highest.css">
</head>
<body>
    <header>
        <h1>Highest Records</h1>
    </header>
    <main>
        
        <div class="container">
            <button id="searchHighestSalary">Search Highest Salary</button>
            <button id="searchHighestRating">Search Highest Rating</button>
            <button id="searchHighestReportedSalaries">Search Highest Reported Salaries</button>
        </div>
        <div id="tableContainer" class="container"></div>
        <div id="paginationButtons" class="container"></div>
    </main>
        <div class="home">
            <a href="/home">Home</a>
        </div>
    <footer>
        <p>&copy; 2024 Harsh Negi</p>
    </footer>

    <script src="/static/js/highest.js"></script>
</body>
</html>
