<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corporate Data Hub</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body id="indexPage">
    <div class="wrapper">
        <header>
            <h1>Corporate Data Hub</h1>
        </header>
        <div class="container" id="container">
            <p>View Indian IT Companies Records</p>
            <a href="/signup">Signup</a>
            <a href="/login"  id="loginLink">Login</a>
        </div>
        <div class="footer">
            <p>Created by Harsh Negi</p>
        </div>
        <a href="https://github.com/harshnegi1434/corporate-data-hub" class="github-link" target="_blank">GitHub</a>
    </div>
    <script src="/static/js/script.js">
    </script>
</body>
</html>
